# Virtual Environment
venv/
ENV/

#Environment
.env
.env.*
!.env.example
!.env.test.example
!.env.docker.example

# Python cache
__pycache__/
*.py[cod]

#personal_files
random_commands.txt
session_notes.txt
future_plans.txt


# OS files
.DS_Store
Thumbs.db

#personal_notes
session_notes.txt
future_plans.txt
random_commands.txt

source/
